body {
    font-family: "Open Sans", serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: #333333;
    background-color: #F9F9F9
}

a {
	text-decoration: none;
	color: #800000;
}

a:hover {
	color: #000000;
}

.navbar {
	color: #FFFFFF;
	background-color: #800000;
	height: 120px;
	padding:  30px 80px;
}

.theme-color {
	color: #800000;
}

.left {
	position: relative;
	float: left;
}

.right {
	position: relative;
	float: right;
}

.navbar-title {
	width: 100%;
	font-size: 64px;
	font-weight:bold;
}

.navbar-small {
	width: 50%;
	font-size: 20px;
}

.navbar-bottom {
	width: 100%;
}

.navbar-links {
	padding-left: 40px;
}

.navbar-a {
	font-size: 16px;
	color: #FFFFFF;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

.section {
	padding: 50px 0;
	width:100%;
    border-bottom: 2px solid #EBEBEB;
}

.section-title {
	font-size: 32px;
	color: #800000;
	margin-bottom:30px;
}

.section-description {
	font-size: 14px;
}

.sub-section-title {
	padding-top: 20px;
	font-size: 18px;
}

.controls-table {
	text-align: left;
}

.controls-table td {
	padding-right: 40px
}

.img-gif {
	display: block;
	margin: auto;
}

.gif-description {
	padding-top: 20px;
	text-align: center;
}